*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/theNewBoston-Study/nbproject/private/
/theNewBoston-Study/build/
/idealWeight/nbproject/private/
/idealWeight/build/
/JavaLab3/nbproject/private/
/JavaLab3/build/
/JavaLab3-2/nbproject/private/
/JavaLab3-2/build/
/Distance/nbproject/private/
/Distance/build/
/Deli/nbproject/private/
/Deli/build/