*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/theNewBoston-Study/nbproject/private/
/theNewBoston-Study/build/
/idealWeight/nbproject/private/
/idealWeight/build/
/JavaLab3/nbproject/private/
/JavaLab3/build/
/JavaLab3-2/nbproject/private/
/JavaLab3-2/build/
/Distance/nbproject/private/
/Distance/build/
/Deli/nbproject/private/
/Deli/build/
/HackerRank1st/nbproject/private/
/HackerRank1st/build/
/Label/nbproject/private/
/Label/build/
/enums/nbproject/private/
/enums/build/
/intClass/nbproject/private/
/intClass/build/
/BankAccount/nbproject/private/
/BankAccount/build/
/TestPersons/nbproject/private/
/TestPersons/build/
/trackingGrades/nbproject/private/
/trackingGrades/build/
/allAction/nbproject/private/
/allAction/build/
/VoteCounter/nbproject/private/
/VoteCounter/build/
/BMI/nbproject/private/
/BMI/build/
/Lab10/nbproject/private/
/Lab10/build/
/BaseballStats/nbproject/private/
/Rock/nbproject/private/
/Rock/build/
/Dates/nbproject/private/
/Dates/build/
/game1/nbproject/private/
/game1/build/
/game/nbproject/private/
/game/build/
/gamee/nbproject/private/
/gamee/build/
/rockthing/nbproject/private/
/rockthing/build/
/Count/nbproject/private/
/Count/build/
/Election/nbproject/private/